@charset "utf-8";
html{ overflow-y:scroll; }
.bg_modal{     position:fixed; width: 100%; height: 100%; left: 0px; top: 0px; opacity: 0.5; background: #000; z-index: 1004;}

/* 회원가입 */
.memblists{ margin:30px 0 20px 0; padding:30px; background:#f7f7f7; }
.memblists li{ margin-bottom:10px; padding-left:10px; background:url('../images/login/bg_inplist.gif') no-repeat left 7px; }
.memblists li:last-child{ margin-bottom:0;  }

/* 마이페이지 팝업 */
.tempomodal{  position:fixed;  top:50%; left:50%; margin-left:-194px;  z-index:1005; }
.tempo07{ top: 100px; left: 50px; }
.tempo08{ top: 100px; left: 550px; }
.tempo09{ top: 100px; left: 1050px; }
.tempo10{ top: 500px; left: 50px; }
.tempo11{ top: 500px; left: 550px; }
.tempo12{ top: 500px; left: 1050px; }
.ltspc{ letter-spacing:-1px; }

.changbox{ margin-bottom: 20px;  padding-top: 20px; border-top: 1px solid #009591; text-align:center; }
.changbox em{ display:inline-block; margin-right:8px; }
.changbox select{ width:200px; padding:6px 0; border:1px solid #ababab; }

.poptb_style01{ margin-bottom:20px; border-top:1px solid #c4c4c4; border-left:1px solid #c4c4c4; }
.poptb_style01 tr th{ padding:11px 0; border-right:1px solid #c4c4c4; border-bottom:1px solid #c4c4c4; background:#f7f7f7; }
.poptb_style01 tr.txtlf th{ padding:11px 9px; text-align:left; }
.poptb_style01 tr td{ padding:11px 9px; border-right:1px solid #c4c4c4; border-bottom:1px solid #c4c4c4; }
.poptb_style01 tr td select{ width:200px; padding:6px 0; border:1px solid #ababab;  }
.poptb_style01 tr td select.tbselc{ width:250px; padding:6px 0; border:1px solid #ababab;  }
.poptb_style01 input.tbinput{ width:221px; height:11px; padding:8px 13px 11px 13px; border:1px solid #c4c4c4;  }
.poptb_style01 input.tbinput02{ width:120px; height:11px; padding:8px 13px 11px 13px; border:1px solid #c4c4c4;  }
.poptb_style01 input.tbinput03{ width:180px; height:11px; padding:8px 13px 11px 13px; border:1px solid #c4c4c4;  }
a.jogbtn{ display:inline-block; width:79px; padding:6px 0 8px 0; background:#6d6d6d; text-align:center; color:#fff; }
.poptb_style01 tbody.rndbox { display:none; }
.poptb_style01 tbody.rndbox tr td{ padding:21px 10px 21px 55px; }
.poptb_style01 tbody tr td span.mps{ display:inline-block; width:110px; text-align:right; }
.poptb_style01 tbody tr td span.mps em{ text-align:right; }

.poptb_style01 tbody tr td span.mps02{ display:block; padding-right:15px; text-align:right; }

.poptb_style03{ margin:-20px 0 20px 0; border-left:1px solid #c4c4c4; }
.poptb_style03 thead tr th{ padding:11px 0; border-right:1px solid #c4c4c4; border-bottom:1px solid #c4c4c4; background:#a6a6a6; color:#fff; }
.poptb_style03 tbody tr th{ padding:11px 9px; border-right:1px solid #c4c4c4; border-bottom:1px solid #c4c4c4; background:#f7f7f7; text-align:left; }
.poptb_style03 tbody tr th em{ display:block; font-size:12px; }
.poptb_style03 tbody tr td{ padding:11px 9px; border-right:1px solid #c4c4c4; border-bottom:1px solid #c4c4c4; text-align:right; }


/* 팝업 */
.explpop{ position:fixed; width:350px; margin-top:-150px; padding:30px 22px 20px 22px; border:5px solid #009591; background:#fff; text-align:center; font-weight:bold; color:#4c4d4f; }
.explpop p.ptext{ margin-bottom:30px; line-height:22px; }

/*  */
@media screen and ( max-width: 767px ){
	.explpop{
	width:82%;
	}
	.poptb_style01 input.tbinput{ 
	width:80%;
	}
	.poptb_style01 tbody tr td span.mps{ 
	width:70px;
	}
	.poptb_style01 tr td select.tbselc{ 
	width:95%; 
	}
}
@media screen and ( max-width:375px ){
	.tempomodal{  
	    margin-left: -181px;
	 }
}
@media screen and ( max-width:360px ){
	.tempomodal{  
	    margin-left: -175px;
	 }
}
@media screen and ( max-width:320px ){
	.tempomodal{  
	margin-left:-49%; 
	 }
}

input[type="radio" i], input[type="checkbox" i]{cursor:default;}
.inptpop input[type="radio"]:focus{ outline:none; }
.inptpop { position:absolute; width:430px; border:5px solid #009591; background:#fff; }
.inptpop_se { position:absolute; width:580px; border:5px solid #009591; background:#fff; }
.inptpop_mp { position:absolute; width:600px; border:5px solid #009591; background:#fff; }
.inptpop_sp{position:absolute; width:720px; border:5px solid #009591; background:#fff;}
.inptpop_pro { position:absolute; width:880px; border:5px solid #009591; background:#fff; }
.inpttop{ padding:12px 0; background:#009591; text-align:center; font-weight:bold; font-size:20px; color:#fff; }
.inpttop a{ position:absolute; top:6px; right:5px; }/* 20170629 수정 */
.inptcon{ padding:20px; }
.inptcon p.inpttxt{ margin-bottom:17px; text-align:center; }
.inptcon ul.inptlist{ margin-bottom:20px; padding-top:20px; border-top:1px solid #009591; }
.inptcon ul.inptlist li{ margin-bottom:5px; }
.inptcon ul.inptlist li em{ display:inline-block; width:117px; float:left; margin-right:9px; padding-left:10px;  background:url('../images/login/bg_inplist.gif') no-repeat left 18px; line-height:40px; font-weight:bold; }
.inptcon ul.inptlist li input{ width:221px; padding:11px 13px; border:1px solid #c4c4c4;  }
.inptcon ul.inptlist li.tel{ overflow:hidden; }
.inptcon ul.inptlist li.tel input{ width:118px; float:left; margin-right:5px; }
.inptcon ul.inptlist li.tel a{ width:96px; float:left; padding:11px 0 10px 0; border:1px solid #d1d1d1; background:#bbb; text-align:center; font-weight:bold; color:#797979; }
.inptcon ul.inptlist li.last{ margin-bottom:0; }

.inptcon ul.inptlist02{ margin-bottom:20px; padding-top:20px; border-top:1px solid #009591; }
.inptcon ul.inptlist02 li{ margin-bottom:5px; }
.inptcon ul.inptlist02 li em{ display:inline-block; float:left; margin-right:9px; padding-left:10px;  background:url('../images/login/bg_inplist.gif') no-repeat left 18px; line-height:40px; font-weight:bold; }
.inptcon ul.inptlist02 li input{ width:73%; padding:11px 13px; border:1px solid #c4c4c4;  }


/*.inptcon ul.inptlist li.last em{ font-size:12px; }*/
.inptcon .assentcon{ overflow-y:scroll; height:108px; margin-bottom:10px; padding:16px 18px; border:1px solid #c4c4c4; }
.inptcon p.check_p{  margin-bottom:20px;color:#58595b; }
.inptcon p.check_p em{ font-weight:bold; } 
.inptcon p.check_p em input{ width:16px; height:16px; }
.inptcon p.check_p span{ display:block; margin-left:20px; letter-spacing:-1px; }

.inptcon p.txt_com{text-align:center;margin-bottom:24px;color:#4c4d4f}

/*  */
@media screen and ( max-width: 767px ){
	.inptpop{
	width:96.5%;
	}
	.inptpop_se{
	width:96.5%;
	}
	.inptpop_mp{
	width:96.5%;
	}
	.inptpop_pro{
	width:96.5%;
	}
	.in_typcn{
	height:inherit !important;
	 padding:10px !important; 
	 }
	.inptpop_mp .inptcon{
	overflow-y:scroll; height:490px;
	}
	.inptpop_pro .inptcon{
	overflow-x:scroll; height:490px;
	}
	.inptcon{
	padding:10px;
	}
	.inptpop .inptcon{
	padding: 10px;
    overflow-x: auto;
    height: 485px;
	}
	.inptpop .inptcon.inptcon2{height:auto}
	.inptcon ul.inptlist li input{
	width:43%;
	}
	.inptcon ul.inptlist li.tel input{
	width: 50%;
	}	
	.inptcon ul.inptlist li.tel a{
	float:right; margin:5px 30px 0 0;
	}
}
@media screen and ( max-width:414px ){
	.inptcon ul.inptlist li input{
	width: 50%;
	}
	.inptcon ul.inptlist li.tel input{
	width: 50%;
	}
	.inptcon ul.inptlist li.tel a{
	float:right; margin:5px 24px 0 0;
	}
}
@media screen and ( max-width:375px ){
	.inptcon ul.inptlist li.tel a{
	float:right; margin:5px 6px 0 0;
	}
}
@media screen and ( max-width:360px ){
	.inptcon ul.inptlist li em{
	width:108px;
	}
}
@media screen and ( max-width:320px ){
	.inptcon ul.inptlist li input{
	width: 35%;
	}
	.inptcon ul.inptlist li.tel input{
	width: 35%;
	}
	.inptcon ul.inptlist li.tel a{
	float:right; margin:5px 24px 0 0;
	}
}


/* 모달 팝업 */
.mdbox{display:none; margin:0 auto 0 auto; width:100%; padding:0 15px; box-sizing:border-box; }
.mdbox .mdtop{ overflow:hidden; padding:12px 25px; background:#585c65; }
.mdbox .mdtop strong{ float:left; color:#fff; font-size:13pt; }
.mdbox .mdtop a{  display: inline-block;  float:right; margin-top: 2px; }
.mdbox .mdtop a img{ height:20px; }
.mdbox .mdcon{ padding:15px; border:1px solid #cccccc; background:#fff; text-align:center; }
.mdbox .mdcon p{ line-height:22px; margin-bottom:25px; }
.mdbox .mdcon02{ padding:30px 0; background:#fff; text-align:center; }
.mdbox .mdcon02 p{ line-height:22px; margin-bottom:25px; }
.mdbox .mdcon ul.mdlist{ margin-bottom:20px; text-align:left; }
.mdbox .mdcon ul.mdlist span{ margin-bottom:8px; font-size:12px; }
.mdbox .mdcon ul.mdlist li{ margin-left:14px; text-indent: -14px; }

/* 매핑 */
strong.mptit{ display:block; margin-bottom:17px; text-align:center; }

ul.mptab{ overflow:hidden; margin-bottom:20px; border:1px solid #009591; }
ul.mptab li{ width:50%; float:left; text-align:center; }
ul.mptab li a{ display:block; padding:8px 0 10px 0; color:#009591 ; }
ul.mptab li.on a {display:block; background:#009591 ; color: #fff; }
.mpcon{ display:none; }
p.mptxt{ text-align:center; margin-bottom:20px; }
em.rmico{ display:inline-block; padding:0 4px 1px 4px; border-radius:5px; background:#b1b6b9; line-height:22px; font-size:12px; color:#fff; }
.mpsearch{ margin-bottom:10px; }
.mpsearch span{ margin-right:9px; }
.mpsearch select{ width:140px; height:33px; }
.mpsearch a{ }
.mpbox{ overflow:hidden; margin-bottom:20px; border-top:2px solid #454545; border-bottom:1px solid #454545; border-left:1px solid #454545; border-right:1px solid #454545; }
.mpbox .mplist { width:279px; float:left; }
.mpbox .mplist strong{ display:block; position:relative; padding:9px 20px 11px 20px; border-bottom:1px solid #454545; border-right:1px solid #454545; }
.mpbox .mplist:nth-child(2) strong{ border-right:none; }
.mpbox .mplist strong em{ display:inline-block; position:absolute; top:8px; left:20px; }
.mpbox .mplist strong input{ width:16px; height:16px; margin-right:5px; }
.mpbox .mplist strong span{display:block;  text-align:center; }
.mpbox .mplist strong a{ position:absolute; top:2px; right:10px; }
.mpbox .mplist ul{ overflow-y:scroll; height:270px; padding:5px 20px 7px 20px; border-right:1px solid #454545;  }
.mpbox .mplist ul li{ margin-bottom:10px; }
.mpbox .mplist ul li input{ width:16px; height:16px; margin-right:10px; }
.mpbox .mplist ul li label{ margin-right:8px; }
.mpbox .mplist:nth-child(2) ul{ border-right:none; }

@media screen and ( max-width: 767px ){
	.mpbox .mplist { 
	width:50%;
	}
	.mpbox .mplist ul{
	padding:5px 5px 7px 5px;
	}
	.mpbox .mplist ul li input{
	margin-right:3px;
	}
	.mpbox .mplist strong{
	padding: 9px 5px 11px 5px;
	}
	.mpbox .mplist strong em{
	top: 8px; left: 6px;
	}
	.mpbox .mplist strong span{
	text-align: left; margin-left: 20px;
	}
	.mpbox .mplist strong a{
	top: 2px; right: 2px;
	}
}

.estacon{ overflow:hidden; position:relative; margin-bottom:20px; }
.estatops{ overflow:hidden; margin-bottom:10px; padding:15px 20px; background:#dbdbdb;  }
.estatops strong{ display:block; margin-bottom:7px; }
.estatops .etopbox{ margin-bottom:10px; }
.estatops .etopbox + .etopbox { margin-right:0; }
.estatops .etopbox select{ width:85%; height:34px; border:1px solid #ababab; }
.estatops .etopbox input{ width:81.5%; height:20px; padding:5px 8px 7px 8px; border:1px solid #ababab; }
.estaleft{ width:240px; float:left; padding:10px; background:#e7e7e7; text-align:center; }
.estaleft .estalist{ margin-bottom:7px; border:1px solid #454545; background:#fff; }
.estaleft .estalist strong{ display:block; padding:7px 0 8px; border-bottom:1px solid #454545; text-align:center; }
.estaleft .estalist ul{ overflow-y:scroll; height:263px; padding:7px 0 9px 10px; text-align:left; }
.estaleft .estalist ul li{ margin-bottom:7px; }
.estaleft .estalist ul li input{ width:16px; height:16px; margin-right:5px; }
.estaleft a.inqury{ width:81.5%; }

.estaright{ width:260px; float:right; padding:10px; background:#e7e7e7; }
.estaright .esta_srch{ overflow:hidden; margin-bottom:5px; }
.estaright .esta_srch .inputbox{ width:218px; float:left; padding:3px 5px 5px 5px; border-top:1px solid #ababab; border-left:1px solid #ababab; border-bottom:1px solid #ababab; background:#fff; }
.estaright .esta_srch .inputbox input{ width:100%; border:none;  }
.estaright .estalist_r{ margin-bottom:7px; border:1px solid #454545; background:#fff; }
.estaright .estalist_r strong{ display:block; padding:6px 0 7px 0; border-bottom:1px solid #454545; text-align:center; }
.estaright .estalist_r ul{ overflow-y:scroll; height:230px; padding:7px 0 9px 10px; }
.estaright .estalist_r ul li{ margin-bottom:7px; }
.estaright .estalist_r ul li input{ width:16px; height:16px; margin-right:5px; }
.estaright a.estabtn{  }


a.estabtn{ display:inline-block; padding:9px 13px; border-radius:6px; font-size:12px; color:#fff; }
a.ebtn01{ display:inline-block; width:90%; padding:9px 13px;  background:#2abfc3; color:#fff; }
a.ebtn01 em{ display:inline-block; padding-left:75px; background:url('../images/common/pop_mp_left.png') no-repeat left 0; }
a.ebtn02 em{ display:inline-block; padding-top:22px; background:url('../images/common/pop_mp_right.png') no-repeat 0 top; }

@media screen and ( max-width: 767px ){
	.estatops{
	padding:10px;
	}
	.estatops .etopbox select{
	width:75%;
	}
	.estatops .etopbox input{
	width:69%;
	}
	.estaleft{ 
	width:42%;
	}
	.estaright{
	width:42%;
	}
	.estaleft a.inqury{
	width:68%;
	}
	.estaright .esta_srch .inputbox{
	width: 67%; padding:5px;
	}
	a.ebtn01 em{
	padding-left: 38px; background-size: 30% 40%; background-position:left 5px;
	}
	.estaright a.ebtn01{
	width:81%;
	}
}

@media screen and ( max-width:320px ){
	.estatops .etopbox select {
	width: 70%;
	}
	.estatops .etopbox input {
	width: 63%;
	}
	.estaright .esta_srch .inputbox{
	width:61%;
	}
	a.ebtn01 em{
	padding-left: 22px;
	background-size: 25% 30%;
	background-position: left 5px;
	}
}


/* 업태 및 업종 */
strong.tit_condition{ display:inline-block; margin-bottom:10px; padding-left:10px; background:url('../images/login/bg_inplist.gif') no-repeat left 8px;  }
.condition_list{ margin-bottom:20px; border:1px solid #c3c3c3; }
.condition_list ul{ overflow-y:scroll;  height:170px; padding:11px 20px; }
.condition_list ul li{ float:left; margin:0 93px 10px 0; }
.condition_list ul li input{ width:18px; height:18px; margin-right:10px; }

.condition_num{ overflow:hidden; margin-bottom:10px; }
.condition_num em{  }
.condition_num input{ width:200px; }

@media screen and ( max-width: 767px ){
	.condition_num input{ 
	width:47%;
	}
	.condition_list ul li{ 
	margin:0 54px 10px 0; 
	}
}

@media screen and ( max-width:320px ){
	.condition_num input{ 
	width:42%;
	}
	.condition_list ul{
	padding:11px 15px;
	}
	.condition_list ul li{
	margin:0 40px 10px 0;
	}
}

/* Sub ID 일괄 생성 */
.subd_list{ margin:0 10px 25px 10px; text-align: justify; }
.subd_list li{ margin:0 0 10px 10px; text-indent:-10px; }
.subd_list li:last-child{ margin-bottom:0; }

table.poptb_style02{ border-top:2px solid #454545; border-left:1px solid #454545; border-right:1px solid #454545; border-bottom:1px solid #454545; }
table.poptb_style02 thead tr th{ padding:7px 0 8px 0; border-bottom:1px solid #454545; }
table.poptb_style02 tbody tr td{ padding:6px 0 7px 0; text-align:center; }
ul.scrolls{ overflow-y: scroll; height:270px; border-bottom:1px solid #454545; border-left:1px solid #454545; }
ul.scrolls li{ overflow:hidden; text-align:center; }
ul.scrolls li em{ display:inline-block; float:left;  padding:6px 0 7px 0; border-right:1px solid #454545; border-bottom:1px solid #454545;  }
ul.scrolls li em:nth-child(1){ width:20.8%; }
ul.scrolls li em:nth-child(2){ width: 41.2%; }
body:first-of-type ul.scrolls li em:nth-child(2){ width: 41.6%; }
ul.scrolls li em:nth-child(3){ width:36%; border-right:0; }

/* M_ */
@media screen and ( max-width: 767px ){
 ul.scrolls{
  -ms-overflow-style:none; border-right:1px solid #454545;
   }
 ::-webkit-scrollbar{ 
 display:none;
  }
 ul.scrolls li em:nth-child(1){ 
 width: 19.9% !important;
  }
 ul.scrolls li em:nth-child(2){
  width: 39.9% !important;
   }
 ul.scrolls li em:nth-child(3){ 
 width: 39.5% !important; 
  }
}



/* 상품 가입 */
/* 서비스 이용요금 */
.vatbox{ overflow:hidden; margin-bottom:4px; }
.vatbox:after{clear:both;content:'';display:block;}
.vatbox strong{ float:left; }
.vatbox span{ float:right; color:#e5412d; }
.vatbox .vat_txt{clear:both;display:block;font-size:12px;padding-top:10px;margin-bottom:20px}

.inpt_sp .vatbox strong{font-size:16px}
.inpt_sp .vatbox span{font-size:12px}
.inpt_sp ul.pop_produlist.style_list{margin-bottom:35px}

.poptb_style02{ margin-bottom:20px; border-top:2px solid #454545; border-left:1px solid #454545; }
.poptb_style02 tr th{ padding:11px 0; border-right:1px solid #454545; border-bottom:1px solid #454545; }
.poptb_style02 tbody tr td{ padding:11px 0 11px 9px; border-right:1px solid #454545; border-bottom:1px solid #454545; }
.poptb_style02 tbody tr th { background:#fff; }
.poptb_style02 .bg_dd{ background:#dddddd; }
.poptb_style02 tr.redbox{ background:#ffd1cc; }
.poptb_style02 tr.purplebox{ background:#d5d3ff; }

ul.pop_produlist{ margin-bottom:20px; font-size:12px; }
ul.pop_produlist li{ margin-bottom:4px; }

ul.aptlist{ overflow:hidden; margin-bottom:20px; }
ul.aptlist li:nth-child(1){ width:255px; float:left; margin-right:10px; padding:6px 0 8px 0; border:2px solid #7672b6; background:#d5d3ff; color:#7672b6; text-align:center; }
ul.aptlist li:nth-child(2){ width:255px; float:left; padding:6px 0 8px 0; border:2px solid #e5412d; background:#ffd1cc; color:#e74b38; text-align:center; }


.poptb_style04{margin-bottom:20px; border-top:2px solid #474747; border-left:1px solid #474747;}
.poptb_style04.style04_1{margin-bottom:15px}
.poptb_style04 th{padding:6px 0;background:#dddddd;color:#4c4d4f;border-right:1px solid #474747;border-bottom:1px solid #474747}
.poptb_style04 td{text-align:center;padding:6px 0;border-right:1px solid #474747;border-bottom:1px solid #474747}
.poptb_style04 td:first-child{font-weight:bold}
.poptb_style04 td.font_n{font-weight:normal}
.poptb_style04 td.alignL{text-align:left;padding-left:23px;padding-right:23px}
.poptb_style04 br{display:none}

.poptb_style04 .w1{width:20%}
.poptb_style04 .w2{width:40%}
.poptb_style04 .w3{width:20%}
.poptb_style04 .w4{width:20%}

@media screen and ( max-width: 767px ){
	.poptb_style04 td.alignL{padding-left:10px;padding-right:10px}
}
@media screen and ( max-width:414px ){
	.poptb_style04 .w1{width:12%}
	.poptb_style04 .w2{width:42%}
	.poptb_style04 .w3{width:21%}
	.poptb_style04 .w4{width:25%}
	.poptb_style04 br{display:block}
}



/* 결제정보 */
strong.dttit{ display:block; margin-bottom:17px; text-align:center; }
span.dttit02{ display:inline-block; margin-bottom:10px; }
span.dttit02 em{ margin-left:9px; font-size:12px; }

a.calen_lf{ display:inline-block; width:24px; height:24px; border-radius:15px; border:2px solid #e5e5e5; background:url('../images/common/ico_btndt_lf_off.png') no-repeat center 7px; }
a.calen_lf:hover{ display:inline-block; width:24px; height:24px; border-radius:15px; border:2px solid #aaaaaa; background:url('../images/common/ico_btndt_lf_on.png') no-repeat center 7px; }
a.calen_lf.on{ display:inline-block; width:24px; height:24px; border-radius:15px; border:2px solid #aaaaaa; background:url('../images/common/ico_btndt_lf_on.png') no-repeat center 7px; }
a.calen_rf{ display:inline-block; width:24px; height:24px; border-radius:15px; border:2px solid #e5e5e5; background:url('../images/common/ico_btndt_rt_off.png') no-repeat center 7px; }
a.calen_rf:hover{ display:inline-block; width:24px; height:24px; border-radius:15px; border:2px solid #aaaaaa; background:url('../images/common/ico_btndt_rt_on.png') no-repeat center 7px; }
a.calen_rf.on{ display:inline-block; width:24px; height:24px; border-radius:15px; border:2px solid #aaaaaa; background:url('../images/common/ico_btndt_rt_on.png') no-repeat center 7px; }
span.calen_num{ display:inline-block; margin:0 5px; vertical-align:7px; font-size:18px; }
em.calen_mh{ display:inline-block; vertical-align: 9px; color:#c0c0c0; }


/* enerdoc */
.doctit{ display:block; margin-bottom:10px; padding-left:11px;  background:url('../images/login/bg_inplist.gif') no-repeat left 9px; font-size:16px; }

/* 3초 팝 */
.expinfo {  position: absolute;  top: 100px; left: 50%; margin-left: -125px;  padding: 15px 60px;  background: #4c4c4c;  border-radius: 10px;  color: #fff; line-height: 22px;  z-index: 1600; }
@-webkit-keyframes fade-out {0% {opacity:0.90;}100% { opacity:0; }}
.fade-out {animation: fade-out .2s ease-in;animation-fill-mode: forwards;animation-iteration-count: 1;opacity:0.90;animation-delay:2s;}

/* 그룹 정보 상세 관리 */
.groupcho{ margin-bottom:20px; padding:15px; background:#dbdbdb; }
.groupcho em{ margin-right:12px; }
.groupcho select{ width:315px; height:31px; margin-right:7px; border:1px solid #ababab; }
.groupcho a{ display:inline-block; width:70px; margin-right:7px; padding:6px 0; background:#6d6d6d; text-align:center;  vertical-align: -2px; color:#fff; }
.groupcho a:last-child{ margin-right:0; }

ul.groupcho02{ margin-bottom:20px; padding:15px; background:#dbdbdb; }
ul.groupcho02 li{ position:relative; margin-bottom:10px; }
ul.groupcho02 li:last-child{ margin-bottom:0; }
ul.groupcho02 li em{ width:106px; float:left; margin:5px 6px 0 0; }
.gro_infotxt{ display:none; position:absolute; top:0; left:110px; width:395px; padding:20px 0; border-radius:6px; background:url('../images/mypage/bg_qust.png') repeat 0 0; line-height:24px; text-align:center; font-size: 13px;  z-index:100; color:#fff; }
.gro_infotxt strong{ display:block; font-size:16px; margin-bottom:4px; }
ul.groupcho02 li .subinbox{ width:354px; height:18px; float:left; margin-right:6px; padding:5px 0 6px 11px; border:1px solid #b5b5b5; background:#fff; }
ul.groupcho02 li .subinbox p{ float:left; }
ul.groupcho02 li .subinbox a{ margin-left:10px; padding:2px 10px 4px 10px; border-radius:6px; background:#dbdbdb; }
ul.groupcho02 li select{ width:368px; height:31px; }



ul.grotab{ overflow:hidden; margin-bottom:19px; border:1px solid #009591; }
ul.grotab li{ width:50%; float:left; text-align:center; }
ul.grotab li a{ display:block; padding:10px 0; color:#009591; }
ul.grotab li.on a{ display:block; padding:10px 0; background:#009591; color:#fff; }

.gro_cons{ display:none; }
.grosub{ overflow:hidden; }
.grobox{ width:275px; float:left; margin:0 10px 20px 0; }
.grobox:nth-child(2){ margin-right:0; }
.grobox span.grotit{ display:block; margin-bottom:8px; }
.grobox .grobox_con{ border:1px solid #c4c4c4; }
.grobox .grobox_con p{ overflow:hidden; padding:4px 10px 5px 10px; border-bottom:1px solid #c4c4c4; background:#dbdbdb; }
.grobox .grobox_con p select:nth-child(1){ width:120px; height:30px; margin-bottom:4px; }
.grobox .grobox_con p select:nth-child(2) {width:128px; height:30px; vertical-align: 2px; }
.grobox .grobox_con p input{ width:205px; height:28px; margin-right:2px; padding: 0 7px; float: left; border:1px solid #ababab; }
.grobox .grobox_con p a{ display:inline-block; float: left; }
.grobox .grobox_con .grolist{  }
.grobox .grobox_con .grolist span{ display:block; padding:6px 10px 8px 10px; border-bottom:1px solid #c4c4c4; }
.grobox .grobox_con .grolist span input{ width:16px; height:16px; margin-right:10px; }
.grobox .grobox_con .grolist .grolist_con{ overflow:auto; width:268px; }
.grobox .grobox_con .grolist .grolist_con ul{ overflow:auto; width:530px; height:260px; padding:7px 16px 10px 10px; }
.grobox .grobox_con .grolist .grolist_con ul li{ margin:0 0 10px 23px; text-indent: -23px; }
.grobox .grobox_con .grolist .grolist_con ul li input{ width:16px; height:16px; margin-right:10px; }
.grobox .grobox_con .grolist .grolist_con02{ overflow:auto; width:268px; }
.grobox .grobox_con .grolist .grolist_con02 ul{ overflow:auto; width:530px; height:226px; padding:7px 16px 10px 10px; }
.grobox .grobox_con .grolist .grolist_con02 ul li{ margin:0 0 10px 23px; text-indent: -23px; }
.grobox .grobox_con .grolist .grolist_con02 ul li input{ width:16px; height:16px; margin-right:10px; }


.grotbcon{ overflow:auto; height:300px; }
.grotbcon02{ overflow:hidden; height:300px;}
.grotbcon02 .grot_con{ overflow:auto;  float:left; width:128px; height:300px; border-right:1px solid #c4c4c4; }
.grotbcon02 .grot_con:last-child{ width: 144px; border-right: 0;}
table.grotb{  }
table.grotb tr.on td{ background:#dbdbdb }
table.grotb tr th{ padding:7px 0 9px 9px; border-bottom:1px solid #c4c4c4; border-right:1px solid #c4c4c4; text-align:left;  }
table.grotb input{ width:16px; height:16px; margin-right:10px; }
table.grotb tr th:last-child{ border-right:0; }
table.grotb tr td{ padding:7px 0 9px 9px; border-right:1px solid #c4c4c4;}
table.grotb tr td:last-child{ border-right:0;  }

a.grobtn01{ display:block; margin-top:6px; padding:9px 0 8px 0; background:#6d6d6d; text-align:center; color:#fff; }
a.grobtn02{ display:block; margin-top:6px; padding:9px 0 8px 10px; background:#f97115; text-align:left; color:#fff; }
a.grobtn02 em{ display:inline-block; padding-left:80px; background:url('../images/mypage/bg_btn_aroww.png') no-repeat left 2px; }
span.strtxt{ display:block; margin-bottom:17px; }

/* 임시위치 */
.tempo01{ top:100px; left:100px; }
.tempo02{ top:260px; left:100px; }
.tempo03{ top:420px; left:100px; }
.tempo04{ top:580px; left:100px; }
.tempo05{ top:100px; left:480px; }
.tempo06{ top:100px; left:950px; }
.tempo13{ top: 600px; left: 50px; }
.tempo14{ top: 800px; left: 750px; }
.tempo15{ top:1000px; left: 550px; }
